@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="inscription" target="_blank" class="ml-md-auto">S'inscrire</a>
            <a href="connexion" target="_blank" class="ml-md-auto">Connexion</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
